.library-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.library-track {
  width: 20%;
  text-align: center;
  margin: 1rem;
}

.library-track img {
  width: 90%;
}

.d-mobile p {
  margin: 0.2rem;
}

.d-mobile .lib-name {
  font-weight: bold;
  font-size: 1rem;
}

.d-mobile .lib-artist,
.d-mobile .lib-album {
  font-size: 0.8rem;
}

.d-mobile .lib-album {
  color: rgb(199, 199, 199);
}

.d-mobile .btn {
  padding: 0.2rem 2rem;
  line-height: 1rem;
}

@media only screen and (max-width: 425px) {
  .library-result {
    justify-content: center;
    margin: 0 auto;
  }
  .library-track {
    width: 95%;
    display: flex;
  }

  .d-mobile {
    width: 50% !important;
    margin: auto 0;
  }
}
